.env
__pycache__/
models/*
data/*

!models/.gitkeep
!data/.gitkeep

*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.webp
*.ico
*.svg
*.eps.github/
outputs/*
data/*
*.ply
*.rrd
*.mp4
*.txt
*.csv
enhanced_slam_outputs/
*.json

evaluation/
segment_anything_2/
sam2/
MASt3R-SLAM/
blip-base